<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://www.cyberark.com/wp-content/themes/understrap-child/favicon.ico">
    <title>CyberArk Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class="container py-3">
      <header>
        <div class="d-flex align-items-center pb-3 mb-4 border-bottom">
          <a href="https://www.cyberark.com" class="d-flex align-items-center">
            <img src="https://www.cyberark.com/wp-content/uploads/2022/12/cyberark-logo-v2.svg" height="48">
          </a>
          <nav class="d-inline-flex ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="https://docs.cyberark.com">Docs</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="https://cyberark-customers.force.com/mplace/s/">Marketplace</a>
          </nav>
        </div>
        <div class="pricing-header p-3 pb-md-4 text-center">
          <h1 class="display-6 fw-normal">CyberArk Integration with Ansible</h1>
        </div>
      </header>
      <main>
        <h2 class="display-6 text-center pb-md-4">This page is deployed by Ansible using credentials retrieved from CyberArk.</h2>
        <div class="card p-4 col-lg-5 col-md-5 mx-auto text-center">
          <p class="lead">Ansible managed node: {{ ansible_facts['fqdn'] }}</p>
          <p class="lead">IP Address: {{ ansible_facts['default_ipv4']['address'] }}</p>
        </div>
      </main>
      <footer class="my-md-5 pt-md-5 border-top">
        <div class="container">
          <p class="float-end">A CyberArk demo by Joe Tan <a href="mailto:joe.tan@cyberark.com">✉</a></p>
          <p class="mb-1">Style by <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
